     #textnome{
        position: absolute;
        font-size: 20px;
        border-radius: 5px;
        -moz-border-radius: 4px;
        background-color: #F8F8FF;
        height: 40px;
        width: 600px;
        left:700px;
        top: 100px;
        
    }
     #textsimulado{
        position: absolute;
        font-size: 20px;
        border-radius: 5px;
        -moz-border-radius: 4px;
        background-color: #F8F8FF;
        height: 400px;
        width: 600px;
        left: 700px;
        top: 160px;
     }
    #botaolog{
        font-size: 25px; 
        position: absolute;
        height: 40px;
        width: 100px;
        left: 950px;
        border-radius: 9px;
        -moz-border-radius: 4px;
        background-image: url(imagens/enviar.png);
        top: 580px;
    }